.header{
    font-size:50px;
    font-variant:small-caps;
    text-align:center;
    font-family:"Arial Black", Gadget, sans-serif;
}
.root {
    background-color:#84D9F0;
    padding:20px;
    margin:auto;
    margin-bottom:50px;
}
#contactForm {
    display:flex;
    flex-direction:column;
    justify-content:center;
    line-height:30px;
    padding:20px;
    margin-bottom:30px;
    font-size:20px;
    margin:auto;
    align-items:center;
}
input[type=text], select, #submitButton {
    height:20%;
    width:auto;
    margin:10px;
    align-text:center;
    font-size:20px;
    padding:10px;
}
#submitButton {
    background-color:#F7B301;
}
option {
    width:auto;
}
input[type=checkbox]{
    width:20px;
    height:20px;
    border-radius:4px;
    background-color:white;

}
.specificInfo {
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    border-bottom:#EB773E solid 3px;
    border-top:#EB773E solid 3px;
    flex-wrap:wrap;
}
.contactInfo {
    border-bottom:#F7B301;
    padding:20px;
    font-size:20px;
}
#popup, #parentPopup {
    font-family: 'Marvel';
    background-color:#EB773E;
    border:5px black solid;
    border-radius:5px;
    position:fixed;
    top:25%;
    bottom:40%;
    left:25%;
    right:25%;
    text-align:center;
    font-size:30px;
    padding:30px;
}
.popupButtons {
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-evenly;
}
#goHome, #stay, #close {
    font-family: 'Marvel';font-size: 25px;
    height:20%;
    width:40%;
    border-left:2px black solid;
    border-right:2px black solid;
    text-align:center;
    padding:10px;
    margin:30px;
}
.showPopup {
    visibility: visible;
    }
.hidePopup {
    visibility:hidden;
    overflow:hidden;
}