html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin:0;
    scroll-padding:50px;
    background-color:#1966B0;
    position:relative;
    scrolling-padding-bottom:0px 0 30ox 0px;
}
.header {
    display:flex;
    flex-direction:column;
    margin-bottom:30px;
}
.title {
       text-align:center;
       font-family:"Arial Black", Gadget, sans-serif;
       font-size: 50px;
       background-color:#F7B301;
       padding:20px;
}
button {
    display:block;
    margin:0;
    padding:0;
    border:0;
    cursor:pointer;
}
button:hover {
    background-color:#e1e2e7;
}
#nav {
    width:80%;
    margin:auto;
    list-style-type: none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    border-top:3px white solid;
    background-color:#F7B301;
}
.openMenu {
    height:auto;
}
.closedMenu {
    height:0;
    overflow:hidden;
}
li {
    font-size:15px;
    height:auto;
    border-left; 1px white solid;
    margin:auto;
    text-align:center;
    color:white;
}
.navButton {
    font-variant:small-caps;
    visibility:visible;
    text-align:center;
    border-left: 1px white solid;
    padding-left: 5px;
    color:white;
    font-size:15px;
    padding:10px;
    cursor:pointer;
    display:block;
    background-color:#F7B301;
}
.hiddenNavButton{
    visibility:hidden;
    overflow:hidden;
}
#menuButton {
    font-variant:small-caps;
    font-size:25px;
    background-color:#F7B301;
    color:white;
    border:none;
    padding-right:10px;
    width:auto;
}
#navService {
    position:relative;
    cursor:pointer;
    display:block;
    cursor:pointer;
    text-align:center;
    background-color:#F7B301;
    border-left: 1px white solid;
    padding-left: 5px;
    color:white;
    font-size:15px;
    padding:10px;
}
#navService:hover > .dropdown {
  display: block;
  margin:0;
  padding:0;
  white-space: nowrap;
}
.dropdown {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    background-color:#F7B301;
    display:flex;
    flex-direction:column;
    display:none;
    width:auto;
}
.dropService {
    font-variant:small-caps;
    padding-top:3px;
    background-color:#F7B301;
    align-text:center;
    padding:10px;
    color:white;
    font-size:15px;
    width:auto;
}
#info {
    float:bottom;
    border-top:1px black solid;
    text-align:center;
    font-style:italic;
    padding:10px;
    width:100%;
    background-color:#F7B301;
}
#bottomBar {
    position:fixed;
    bottom:0;
    right:0;
    left:0;
    background-color:#F7B301;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
}
#emblem {
    width:5%;
    height:auto;
}
@media (max-width:600px) {
    #nav {
        width:auto;
    }
    .navButton, #menuButton {
        font-size:15px;
        width:auto;
    }
    .header {
        position:fixed;
        top:0;
        right:0;
        left:0;
    }
    .title {
        font-size:20px;
        height:auto;
        width:auto;
    }
}