html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    margin-top:30px;
    background-color:#1966B0;
    position:relative;
}
button {
    display:block;
    margin:0;
    padding:0;
    border:0;
    cursor:pointer;
}
button:hover {
    background-color:#e1e2e7;
}
ul {
    position:relative;
    list-style-type: none;
    display:flex;
    flex-direction:row;
    height:90px;
    background-color:#F7B301;
    justify-content:flex-start;
    position:relative;
}
.openMenu {
    position:fixed;
    right:0;
    width:auto;
}
.closedMenu {
    position:fixed;
    right:0;
    width:30px;
    overflow:hidden;
}
li {
    font-size:1vw;
    height:40px;
    border-left; 1px white solid;
    background-color:#F7B301;
    margin:auto;
    text-align:center;
    color:white;
}
.menuButton {
    font-size:25px;
    background-color:#F7B301;
    padding-left:5px;
    padding-right:3px;
    color:white;
}
.navButton {
    text-align:center;
    background-color:#F7B301;
    border-left: 1px white solid;
    padding-left: 5px;
    color:white;
    font-size:1vw;
    padding:10px;
    cursor:pointer;
    display:block;
}
#navService {
    cursor:pointer;
    display:block;
    cursor:pointer;
    text-align:center;
    background-color:#F7B301;
    border-left: 1px white solid;
    padding-left: 5px;
    color:white;
    font-size:1vw;
    padding:10px;
}
#navService:hover > .dropdown {
  display: block;
  margin:0;
  padding:0;
  white-space: nowrap;
}
.dropdown {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 35%;
    background-color:#F7B301;
    display:flex;
    flex-direction:column;
    display:none;
    width:auto;
}
.dropService {
    padding-top:3px;
    margin:0;
    background-color:#F7B301;
    align-text:center;
    padding:5px;
    color:white;
    font-size:15px;
    width:auto;
}
#info {
    border-top:1px black solid;
    text-align:center;
    font-style:italic;
    padding:10px;
    width:100%;
}
#bottomBar {
    float:bottom;
    background-color:#F7B301;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
    width:100%;
}
#emblem {
    width:30%;
    height:auto;
}