#heading{
    text-align:center;
    font-variant:small-caps;
    padding:10px;
    font-size:50px;
    color:white;
    font-family:"Arial Black", Gadget, sans-serif;
}
.arrow {
    font-size:60px;
    font:bold;
    background-color:#84D9F0;
    margin-left:10px;
    margin-right:10px;
}
#servicesSpecific {
    background-color:#84D9F0;
    height:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    height:auto;
}
.serviceImage {
    height:80%;
}
.info {
    padding:30px;
    display:block;
    background-color:white;
    overflow:auto;
    white-space:normal;
    overflow:visible;
    padding:15px;
    height:70%;
    width:50%;
}
.infoTitle {
    text-align:center;
    font-family:"Arial Black", Gadget, sans-serif;
}
#telepractice, #single, #group {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    margin:25px;
}
.infoLeft{
    position:absolute;
    right:-100%;
}
.infoCenter{
    margin:auto;
    align-content:center;
}
.infoRight{
    position:absolute;
    left:-100%;
}
.bullet {
    padding:30px;
    margin:10px 0;
    height:50%;
}