body {
    overflow:scroll;
}
input {
    height:30px;
    width:150px;
}
#content {
    display:flex;
    flex-direction:column;
    align-items: space-around;
    justify-content: space-around;
    margin:auto;
    margin-bottom:100px;
    margin-top:30px;
}
.outer {
    width:90%;
    align-items: center;
    text-align:center;
    padding:30px;
    background-color:#73D9F0;
    margin:auto;
    margin-bottom:30px;
    display:flex;
    flex-direction:row;
    justify-content;space-between;
    align-content:center;
}
#whowhat {
    /**display:flex;
    flex-direction:row;
    justify-content;space-around;
    align-content:center;*/
}
.cards {
    display:flex;
    flex-direction:column;
    align-content:space-around;
    justify-content:center;
    padding:10px;
}
.card {
    margin:10px;
    padding:15px;
    background-color:#EB773E;
    text-align:center;
    word-wrap: normal;
    flex-grow:1;
    width:auto;
    border-left:black 3px solid;
    border-right:black 3px solid;
}
#card:hover {
    background-color:#e1e2e7;
}
.whoWhatTitle {
    font-variant: small-caps;
    margin:0;
    padding:0;
    font-size:30px;
}
.whowhatText{
    font-size:20px;
    word-wrap:normal;
}
#whoWhatImage {
    border: 3px black solid;
    height:30%;
    width:30%;
    margin:2%;
}
h2 {
    font-variant:small-caps;
}
#serviceContainer {
    width:90%;
    align-items: center;
    text-align:center;
    padding:30px;
    background-color:#73D9F0;
    margin:auto;
    margin-bottom:30px;
}
#speech {
    font-size:20px;
    padding:0;
}
#services {
    padding-top:20px;
    height:auto;
}
.servicesOpen {
  display:block;
  display:flex;
  flex-direction:row;
  height:300px;
}
.servicesClose{
    display:none;
    overflow:hidden;
}
.serviceCard{
    width:25%;
    padding:5px;
    margin:15px;
    height:auto;
    background:#EB773E;
    align-items:center;
    border-left:black 3px solid;
    border-right:black 3px solid;
}
.serviceCard:hover {
    background-color:#e1e2e7;
}
img {
    height:100px;
    width:auto;
}
.exploreButton {
    border-left:black 3px solid;
    border-right:black 3px solid;
    cursor: pointer;
    word-wrap:none;
    height:80%;
    width:auto;
    font-variant:small-caps;
    font-style:bold;
    background-color:#EB773E;
    font-size:30px;
    margin:15px;
    padding:10px;
    }
#contact {
    /**display:flex;
    flex-direction:row;
    align-items:space-around;
    justify-content:space-around;*/
    margin-bottom:160px;
    font-size:20px;
    padding-top:100px;
    padding-bottom:100px;
}
#contactButton:hover {
    background-color:#e1e2e7;
}
#emblem {
    height:5%;
    width:5%;
}
.addressPhone {
    text-align:center;
}
@media (max-width: 600px) {
    body{
        scroll-padding-top:70px;
    }
    .outer {
       display:flex;
       flex-direction:column;
       justify-content;space-around;
       align-content:center;  }
    #contact {
        flex-direction: column-reverse;
    }
    .servicesOpen {
        flex-wrap:wrap;
        justify-content:center;
    }
    .serviceCard{
        width:35%;
    }
}
