.container {
    margin:auto;
    margin-top:100px;
    background-color:#e1e2e7;
    text-align:center;
    width:70%;
    padding:20px;
    margin-top:50px;
}
#aboutContainer {
}
.aboutTitle {
    font-size:50px;
    font-variant:small-caps;
    background-color:#98042d;
    padding:10px;
    border-right:5px black solid;
    border-left:5px black solid;
}
#Jordyn {
    height:450px;
    width:auto;
    border-left:#98042d solid 5px;
    border-right:5px #98042d solid;
}
figcaption {
    font-variant:small-caps;
}
.aboutBody {
    text-indent:50px;
    line-height:60px;
    font-size:30px;
}
#staffContainer {
    background-color:
}
.staffTitle {
    font-variant:all-caps;
    font-size:45px;
    padding:30px;
    border-bottom:3px solid #98042d;
}
.staff {
    display:flex;
    flex-direction:column;
    align-content: space-around;
    justify-content:space-around;

}
.staffMember {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-content:center;
    font-size:30px;
    word-wrap:normal;
    text-align:center;
}
.staffPic {
    max-height:350px;
    width:250px;
    margin:15px;
    border-left:5px #98042d solid;
    border-right:5px #98042d solid;
}