html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    background-image: url('backgroundWebsite.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
button {
    display:block;
    margin:0;
    padding:0;
    border:0;
    cursor:pointer;
}
.openMenu {
    position:fixed;
    right:0;
}
.closedMenu {
    position:fixed;
    right:0;
    width:40px;
    overflow:hidden;
}
ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    height:60px;
    width:320px;
    background-color:#3366cc;
    justify-content:flex-start;
    padding:0;
}
li {
    padding:5px;
    height:20px;
    border-left; 1px black solid;
    background-color:#3366cc;
}
.menuButton {
    text-align:center;
    color:white;
    font-size:20px;
    background-color:#3366cc;
    padding-left:5px;
    padding-right:3px;
}
.pageButton {
    text-align:center;
    height:30px;
    color: white;
    font-size:15px;
    background-color:#3366cc;
    border-left: 1px white solid;
    padding-left: 5px;
}
#root {
    margin:auto;
    margin-top:100px;
    background-color:#00cc66;
    text-align:center;
    width:70%;
    padding:20px;
}
.aboutTitle {
    font-size:50px;
    font-variant:small-caps;
}
.aboutBody {
    text-indent:50px;
    line-height:40px;
}
