.editor {
    flex-grow:1;
    flex-basis:100px;
}
.whyContactUs {
    word-wrap:normal;
    text-align:center;
    width:80%;
    margin:auto;
    margin-bottom:30px;
    padding:50px;
    background-color:#fcc0c5;
}
.root {
    width:80%;
    margin:auto;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    background-color:#fcc0c5;
    padding:30px;
}
#instruction {
    text-align:center;

}
form {
    padding:30px;
    margin:30px;
    font-size:15px;
    line-height:30px;
    background-color:white;
}
.contactInfoContainer {
    white-space:pre;
}
.contactInfo {
    text-align:center;
    display:flex;
    flex-direction:row;
    align-items:space-around;
    justify-content:center;
}
#address, #emails, #callPhone {
    border-bottom:3px solid #98042d;
}
.socialIcon {
    width:50px;
    height:auto;
    position:relative;
    cursor:pointer;
    padding:5px;
    margin:3px;
}
.toolTip {
    visibility:hidden;
    position:absolute;
    display:inline-block;
    background-color:none;
    top:-5px;
    right:105%;
    z-index:1;
}
.socialIcon:hover > .tooltip {
    visibility:visible;
}
#info {
    border-top:1px black solid;
    text-align:center;
    font-style:italic;
}
#popup {
    background-color:#98042d;
    border:5px black solid;
    border-radius:5px;
    position:fixed;
    top:25%;
    bottom:40%;
    left:25%;
    right:25%;
    text-align:center;
    font-size:30px;
    padding:30px;
}
.popupButtons {
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
}
#goHome, #stay {
    height:100px;
    width:150px;
    font-variant:small-caps;
    border-left:2px black solid;
    border-right:2px black solid;
    text-align:center;
    padding:10px;
    margin:30px;
}
.showPopup {
    visibility:visible;

}
.hidePopup {
    visibility:hidden;
    overflow:hidden;
}