html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    margin-top:30px;
    background-color:#bf4c41;
    position:relative;
}
button {
    display:block;
    margin:0;
    padding:0;
    border:0;
    cursor:pointer;
}
.openMenu {
    position:fixed;
    right:0;
    width:400px;
}
.closedMenu {
    position:fixed;
    right:0;
    width:35px;
    overflow:hidden;
}
#nav {
    background-color:#98042d;
}
ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    height:90px;
    width:320px;
    background-color:#98042d;
    justify-content:flex-start;
}
#navService {
    position:relative;
    margin:auto;
    text-align:center;
    color:white;
    text-align:center;
    height:30px;
    font-size:15px;
    background-color:#98042d;
    border-left: 1px white solid;
    padding-left: 5px;

}
#navService:hover > .dropdown {
  display: block;
  margin:0;
  padding:0;
  white-space: nowrap;
}
.dropdown {
    position: absolute;
    list-style: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
    background-color:#98042d;
    display:flex;
    flex-direction:column;
    display:none;
    white-space:nowrap;
}
li {
    height:40px;
    border-left; 1px white solid;
    background-color:#98042d;
    margin:auto;
    text-align:center;
    color:white;
}
.dropService {
    padding-top:3px;
    margin:0;
    color:white;
    background-color:#98042d;
    align-text:center;
    padding:0;
}
.menuButton {
    font-size:25px;
    background-color:#98042d;
    padding-left:5px;
    padding-right:3px;
    color:white;
}
.pageButton {
    text-align:center;
    height:30px;
    color: white;
    font-size:15px;
    background-color:#98042d;
    border-left: 1px white solid;
    padding-left: 5px;
}
#dropService {
    background-color:#98042d;
    color:white;
    text-align:center;
    width:100%;
    white-space: nowrap;

}
button:hover {
    background-color:#e1e2e7;
}
#info {
    border-top:1px black solid;
    text-align:center;
    font-style:italic;
    padding:10px;
}
#bottomBar {
    float:bottom;
    background-color:#98042d;
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:space-around;
}