#servicesSpecific {
    display:flex;
    flex-direction:row;
   justify-content:space-between;
   width:100%;
   background-color:white;
   padding:10px;
   height:400px;
}
.serviceImage {
    padding:30px;
    height:300px;
    width:auto;
}
#telepracticeInfo {
    position:absolute;
    left:50px;
}
.info {
    display:block;
    background-color:white;
    overflow:auto;
    white-space:normal;
    overflow:visible;
    padding:15px;
    height:500px;
}
#singleInfo {
    position:absolute;
    left:40%;
}
#groupInfo {
    position:absolute;
    right:50px;
}
.bullet {
    padding:10px;
    margin:10px 0;
    height:200px;
}
figcaption {
    text-align:center;
    font-variant:small-caps;
}
