html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body {
    margin: 0;
    background-image: url('backgroundWebsite.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:100%;
}
button {
    display:block;
    margin:0;
    padding:0;
    border:0;
    cursor:pointer;
}
.openMenu {
    position:fixed;
    right:0;
}
.closedMenu {
    position:fixed;
    right:0;
    width:40px;
    overflow:hidden;
}
ul {
    list-style-type: none;
    display:flex;
    flex-direction:row;
    height:60px;
    width:320px;
    background-color: #666699;
    justify-content:flex-start;
    padding:0;
}
li {
    padding:5px;
    height:20px;
    border-left; 1px black solid;
    background-color: #666699;
}
.menuButton {
    text-align:center;
    color:white;
    font-size:20px;
    background-color: #666699;
    padding-left:5px;
    padding-right:3px;
}
.pageButton {
    text-align:center;
    height:30px;
    color: white;
    font-size:15px;
    background-color: #666699;
    border-left: 1px white solid;
    padding-left: 5px;
}
#scroll {
    display:flex;
    flex-direction:column;
    align-items: space-around;
    justify-content: space-around;
}
.title {
    background-color:white;
    margin:auto;
    text-align:center;
    font-variant:small-caps;
    width:90%;
    align-content:center;
}
#welcome {
    font-size: 35px;
}
#speecheasy {
    font-size: 60px;
    padding:0;
    margin:0;
}
.outer {
    width:90%;
    margin:auto;
    margin-top:30px;
    padding:10px;
    align-items: center;
    text-align:center;
    padding:30px;
}
#whowhat {
    background-color: #f0f0f5;
    display:flex;
    flex-direction:row;
    justify-content;space-around;
    align-content:center;
    }
.cards {
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-items:center;
    padding:10px;
}
.card {
    margin:10px;
    padding:15px;
    background-color:white;
    border:2px black solid;
    text-align:center;
    word-wrap: normal;
    border-radius:25px;
    flex-grow:1;
    width:auto;
}
.whoWhatTitle {
    font-variant: small-caps;
    margin:0;
    padding:0;
    font-size:30px;
}
.whowhatText{
    font-size:20px;
    word-wrap:normal;
}
#whoWhatImage {
    border: 3px black solid;
    height:400px;
    width:1000px;
    margin:30px;
}
h2 {
    font-variant:small-caps;
}
#serviceContainer {
    align-items:center;
    background-color: #3385ff;
}
.speech {
    display:flex;
    flex-direction:row;
    align-items:space-around;
    justify-content:space-around;
}
#services {
}
.servicesOpen {
  display:block;
  display:flex;
  flex-direction:row;
  height:300px;
}
.servicesClose{
    display:none;
    overflow:hidden;
}
.serviceCard{
    width:25%;
    padding:5px;
    margin:15px;
    height:200px;
    background:white;
    align-items:center;
    border:3px black solid;
    border-radius:5px;
}
.exploreService {
    background-color:white;
    border-radius:3px;
    border:1px black solid;
    padding:3px;
}
img {
    height:100px;
    width:auto;
}
#servButton {
    border-radius:25px;
    border:1px black solid;
    cursor: pointer;
    height:60px;
    width:120px;
    word-wrap: no-wrap;
    font-variant:small-caps;
    font-weight:bold;
    font-size:15px;
    }
#contact {
    background-color: #ccccff;
    display:flex;
    flex-direction:row;
    align-items:space-around;
    justify-content:space-around;
}
#contactButton {
    border-radius:25px;
    border:1px black solid;
    cursor: pointer;
    word-wrap:none;
    height:50px;
    width:120px;
    font-variant:small-caps;
    font-style:bold;
    font-size:15px;
}
#info {
    background-color:#999999;
    width:100%;
    margin:0;
    padding:30px;

}